/* _base.scss */


html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $color-typography-base;
  background-color: $color-white;
  background: url("../img/4.jpeg") no-repeat center center fixed;
  background-size: cover;
  line-height: 1;
}
* { box-sizing: border-box; }

*:before,
*:after { box-sizing: inherit; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a { text-decoration: none }

h1, h2, h3, h4, h5, p { margin: 0; }

input,
textarea,
button {
  border: none;
  padding: 0;
}

button { -webkit-font-smoothing: inherit; }

input[type="text"],
input[type="password"],
textarea { -webkit-appearance: none; }

// Fixes https://bugzilla.mozilla.org/show_bug.cgi?id=140562
::-moz-focus-inner {
  padding: 0;
  border: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

// Prevent overflowing of images in fluid containers
img { max-width: 100%; }
