/* _module.scss */

/* _module config */

/* _module default */
@include layout-default {

}

/* _module small */
@include layout-small {

}

/* _module medium */
@include layout-medium {

}

/* _module medium-and-above */
@include layout-medium-and-above {

}

/* _module large */
@include layout-large {

}
