/* _buttons config */
// Here is a good place to put strictly module specific variables or mixins.

/* _buttons default */
@include layout-default {

	.base-ingredient-buttons {
		display: table;
		margin: 0 auto;
	}

  .btn-base-ingredient {
  	width: 85px;
  	height: 85px;
  	border-radius: 50%;
  	margin: 13px;
    outline: none;
    background-color: #D69A79;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .btn-base-ingredient-chosen {
    background-color: $color-orange;
    outline: none;
    animation: btn-animation 1s ease;
  }

  .next-step {
    text-align: center;
    margin-top: 30px;
    a {
      color: #313131;
      border: 2px solid #313131;
      padding: 12px 30px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: border .3s;
      transition: background-color .3s;
    }
    a:hover {
      text-decoration: none;
      color: white;
      background-color: #000000;
      border: 2px solid #000000;
      transition: border .3s;
      transition: background-color .3s;
    }
  }
}

/* _buttons small */
@include layout-small {

}

/* _buttons medium */
@include layout-medium {

  @keyframes btn-animation {
    0%   { opacity: .8; }
    50%  { opacity: .9; }
    100% { opacity: 1; }
  }

}

/* _buttons medium-and-above */
@include layout-medium-and-above {

}

/* _buttons large */
@include layout-large {

}
