/* _buttons.scss */

/* _buttons config */

/* _buttons default */
@include layout-default {

	.base-ingredient-buttons {
		display: table;
		margin: 50px auto;
    max-width: 500px;
	}

  .btn-base-ingredient {
  	width: 85px;
  	height: 85px;
  	border-radius: 50%;
  	margin: 20px;
    outline: none;
    background-color: #4F3831;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
  }

  .btn-base-ingredient:hover {
    background-color: $color-orange;
    transition: all .3s ease; 
  }

  .btn-base-ingredient-chosen {
    background-color: $color-orange;
    outline: none;
    transition: all .3s ease;
  }

  .next-step {
    list-style: none;
    text-align: center;
    margin: 30px auto;
    a {
      text-decoration: none;
      color: #333;
      border: 2px solid #2B2B2B;
      padding: 12px 30px;
      font-weight: 700;
      font-size: 1.1em;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: border .3s;
      transition: background-color .3s;
    }

    a:hover {
      text-decoration: none;
      color: #F0EFEC;
      background-color: #2B2B2B;
      border: 2px solid #2B2B2B;
      transition: border .3s;
      transition: background-color .3s;
    }
    
  }

  .btn-back {
    position: absolute;
    left: 78px;
    line-height: 42px; 
    transition: color .3s;
    i { color: #C7C3C0; }
    &:hover {
      i { color: $color-orange; }
    }
  }

}

/* _buttons small */
@include layout-small {
  .base-ingredient-buttons {
    margin: 0 auto;
    width: 230px;
  }

  .btn-base-ingredient {
    margin: 15px;
  }

  .btn-back {
    left: 24px;
  }

  .next-step {
    margin: 20px auto;
  }
}

/* _buttons medium */
@include layout-medium {

  /*@keyframes btn-animation {
    0%   { opacity: .8; }
    50%  { opacity: .9; }
    100% { opacity: 1; }
  }*/

}

/* _buttons medium-and-above */
@include layout-medium-and-above {

}

/* _buttons large */
@include layout-large {

}
