/* _buttons config */
// Here is a good place to put strictly module specific variables or mixins.

/* _buttons default */
@include layout-default {
	.base-ingredient-buttons {
		display: table;
		margin: 0 auto;
	}

  .btn-base-ingredient {
  	width: 85px;
  	height: 85px;
  	border-radius: 50%;
  	margin: 13px;
    outline: none;
    background-color: #4A9379;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .btn-base-ingredient-chosen {
    border: 3px solid #44524A;
    outline: none;
  }

  .next-step {
    text-align: center;
    margin-top: 30px;
    a {
      color: #313131;
      border: 2px solid #313131;
      padding: 12px 30px;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
    a:hover {
      text-decoration: none;
      color: white;
      background-color: #313131;
    }
  }
}

/* _buttons small */
@include layout-small {

}

/* _buttons medium */
@include layout-medium {

}

/* _buttons medium-and-above */
@include layout-medium-and-above {

}

/* _buttons large */
@include layout-large {

}
