/* _catalog default */
@include layout-default {
  // Put all default (i.e small) styles in here, and not outside the layout-default mixin.
	.catalog {
		display: table;
		width: 90%;
		text-align: center;
		margin: 60px auto;
		border: 4px solid $color-orange;
		padding: 35px 0 10px 0;
	}

	.selected-base-ingredient {
    text-align: center;
    margin: 26px auto 0 auto;
    height: 65px;
    width: 90%;
    text-transform: uppercase;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: $color-orange;
    border-bottom: 4px solid $color-orange;
	}

	.selected-base-ingredient p:after {
		font-family: FontAwesome;
		font-size: 0.8em;
		content: '\f00c';
    position: relative;
    top: -2px;
		left: 4px;
	}

	.btn-catalog {
		padding-bottom: 20px;
		outline: none;
		box-shadow: none;
		background: none;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 700;
		color: $color-orange;
		transition: all .3s ease;
	}

	.btn-catalog:before {
		font-size: 18px;
    content: "+";
    left: -15px;
    position: absolute;
    top: -1px;
    font-weight: 500;
    color: $color-orange;
    transition: all .3s ease;
	}

	.active {
		outline: 0;
		box-shadow: none;
		color: #333;
		transition: all .3s ease;
	}

	.active:before {
    transform: rotate(45deg);
    color: #333;
    transition: all .3s ease;
 }

}

/* _catalog small */
@include layout-small {
}

/* _catalog medium */
@include layout-medium {

}

/* _catalog medium-and-above */
@include layout-medium-and-above {

}

/* _catalog large */
@include layout-large {

}
