/* _final-recipe.scss */

/* _final-recipe config */

/* _final-recipe default */
@include layout-default {
	.content-final-recipe {
		margin-top: 30px;
		h3 { font-weight: 700; }
		.final-recipe_instructions { line-height: 27px; }
	}
  .recipe-generated {
  	text-align: center;
  	font-weight: 700;
  	a { color: #464545; }
  }
  .image-final-recipe {
		border: 3px solid #FFF;
		box-shadow: 0px 0px 6px #757575;
  }

  .final-recipe-404 {
  	text-align: center;
  	img {margin-top: 20px;}
  }
}

/* _final-recipe small */
@include layout-small {
	.content-final-recipe { text-align: center; }
	.final-recipe-404 h2 { 
		font-size: 1.5em; 
		line-height: 29px;
	}
}

/* _final-recipe medium */
@include layout-medium {
}

/* _final-recipe medium-and-above */
@include layout-medium-and-above {
	.content-final-recipe_half {
		width: 50%;
    display: inline-block;
	}
	.content-final-recipe_half-2 {
		vertical-align: top;
		h3 { margin-top: 0; }
		h3, p { padding-left: 30px; }
	}

	.content-final-recipe_half-1 {
		vertical-align: top;
	}

	.recipes-generated {
		text-align: center;
	}

	.recipe-generated {
		width: 220px;
		display: inline-block;
		margin: 10px;

		a:hover { 
			text-decoration: none; 
			color: #333;
		}
	}

	.image {
		opacity: 1;
		transition: all .3s ease;
	}

	.col-half {
		display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 10px;
	}

	.final-recipe-404 h2 { 
		font-size: 2em; 
		line-height: 29px;
	}

}

/* _final-recipe large */
@include layout-large {

}
