/* _footer.scss */

/* _footer config */

/* _footer default */
@include layout-default {
  .footer {
		width: 100%;
		background-color: white;
    box-shadow: 0 -3px 11px 0px rgba(66, 66, 66, 0.2);
  }

  .footer-steps {
		text-align: center;
		padding: 20px;
  }

  .footer-step {
  	display: inline;
  	margin: 20px;
  	font-size: 1.5em;
  	color: #CACACA;
  }

  .footer-step-active {
  	color: $color-orange;
  }
}

/* _footer small */
@include layout-small {

}

/* _footer medium */
@include layout-medium {

}

/* _footer medium-and-above */
@include layout-medium-and-above {

}

/* _footer large */
@include layout-large {

}
