/* _generated-recipes.scss */

/* _generated-recipes config */

/* _generated-recipes default */
@include layout-default {
	.generated-recipes { text-align: center; }
	.generated-recipe {
		display: inline-block;
		position: relative;
		.generated-recipe_info {
			position: absolute;
			text-align: center;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			display: inline;
    	background-color: rgba(0,0,0,.45);
		}
		.generated-recipe_title,
		.generated-recipe_desc {
			text-align: center;
			color: white;
		}
		.generated-recipe_title {
			font-size: 1.5em;
		}
	}
}

/* _generated-recipes small */
@include layout-small {
	.generated-recipes { 
		width: 201px; 
		margin: 0 auto; 
	}
	.generated-recipte_title { font-size: 1em; }
	.generated-recipe_desc { display: none; }
	.generated-recipe { margin: 10px }
	.generated-recipe_img img { width: 200px; }
}

/* _generated-recipes medium */
@include layout-medium {

}

/* _generated-recipes medium-and-above */
@include layout-medium-and-above {
	.generated-recipes { width: 100%; }
	.generated-recipe_img img { width: 260px; }
	.generated-recipe_info { padding: 15px; }
	.generated-recipe { 
		margin: 10px; 
	}
}

/* _generated-recipes large */
@include layout-large {

}
