/* _generated-recipes.scss */

/* _generated-recipes config */

/* _generated-recipes default */
@include layout-default {
  .recipe-generated {
  	text-align: center;
  	font-weight: 700;
  	a { color: #464545; }
  }
  .image {
		width: 100%;
		border: 2px solid #FFF;
		margin: 10px auto;
		display: block;
  }
}

/* _generated-recipes small */
@include layout-small {
}

/* _generated-recipes medium */
@include layout-medium {
}

/* _generated-recipes medium-and-above */
@include layout-medium-and-above {
	.image {
		width: 90%;
		height: auto;
		margin: 10px;
		display: inline;
		box-shadow: 1px 1px 1px #828282;
		opacity: 0.8;
		transition: all .3s ease;
	}

	.recipes-generated {
		text-align: center;
	}

	.recipe-generated {
		width: 220px;
		display: inline-block;
		margin: 10px;

		a:hover { 
			text-decoration: none; 
			color: #333;
		}
	}

	.image {
		opacity: 1;
		transition: all .3s ease;
	}

	.col-half {
		display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 10px;
	}

}

/* _generated-recipes large */
@include layout-large {

}
