/* _header.scss */

/* _header config */
// Here is a good place to put strictly module specific variables or mixins.

/* _header default */
@include layout-default {
  // Put all default (i.e small) styles in here, and not outside the layout-default mixin.
	.header {
		position: relative;
		height: 100px;
		padding: 13px;
	}

	.logo-svg {
		display: block;
		margin: 0 auto;
		width: 130px;
	}
}

/* _header small */
@include layout-small {
}

/* _header medium */
@include layout-medium {

}

/* _header medium-and-above */
@include layout-medium-and-above {

}

/* _header large */
@include layout-large {

}
