/* _header.scss */

/* _header config */

/* _header default */
@include layout-default {
	.header {
		position: relative;
		height: 100px;
		padding-top: 13px;
	}

	.logo-svg {
		display: block;
		margin: 0 auto;
		width: 130px;
		position: relative;
		z-index: 2;
	}
}

/* _header small */
@include layout-small {
}

/* _header medium */
@include layout-medium {

}

/* _header medium-and-above */
@include layout-medium-and-above {

}

/* _header large */
@include layout-large {

}
