/* _module.scss */
// This is the basic layout of a module and might be handy when creating a new one.
// Simply do a copy-paste and a find and replace to substitute ex. _module with _buttons.

/* _module config */
// Here is a good place to put strictly module specific variables or mixins.

/* _module default */
@include layout-default {
  // Put all default (i.e small) styles in here, and not outside the layout-default mixin.
  .heading-instruction {
    text-align: center;
    margin: 20px 5px;
    font-weight: 300;
    line-height: 40px;
    .additional { display: block; }
  }

  .heading-instruction-pre {
    font-weight: 700;
  }

  .heading-instruction-2 {
    margin: 60px auto;
    width: 70%;
  }

  .module {
    margin-top: 21%;
  }

  .main-module {
    background-color: rgba(255,255,255,0.85);
    padding: 70px 10px 20px;
    max-width: 750px;
    margin: 0 auto; 
    height: auto;
    position: relative;
    transition: height 1s;
    z-index: 1;
  }

  .main-module_step-2 {
    padding: 70px 30px 20px;
  }
}

/* _module small */
@include layout-small {
  .heading-instruction {
    font-size: 1.6em;
    line-height: 35px;
  }

  .heading-instruction-2 {
    margin: 40px auto;
    width: 100%;
  }

}

/* _module medium */
@include layout-medium {

}

/* _module medium-and-above */
@include layout-medium-and-above {

}

/* _module large */
@include layout-large {

}