/* _search-input config */
// Here is a good place to put strictly module specific variables or mixins.

/* _search-input default */
@include layout-default {
  // Put all default (i.e small) styles in here, and not outside the layout-default mixin.
  .search-input-wrapper { 
		margin: 0 auto 50px auto;
		width: 90%;
  }

  .search-input-wrapper .ReactTags__suggestions {
  	background-color: $color-orange;
  	display: inline-block;
		width: 100%;
		ul { margin-bottom: 0; }
  	mark { 
  		background-color: green; 
  		padding: 16px 0 16px 16px;
			display: inline-block;
			color: white;
			margin-top: -4px;
  	}
  }

  .search-input-wrapper input {
		width: 100%;
		background: none;
		border: 4px solid #9C9089; 
		padding: 10px;
		width: 100%;
		transition: all .3s;
		font-size: 1.2em;
		font-weight: 600;
		&:focus { 
			outline: none;
			border: 4px solid $color-orange;
		}
  }
}

/* _search-input small */
@include layout-small {
	.search-input-wrapper { 
		margin: 0 auto 30px auto;
  }
}

/* _search-input medium */
@include layout-medium {

}

/* _search-input medium-and-above */
@include layout-medium-and-above {

}

/* _search-input large */
@include layout-large {

}
