/* _search-input.scss */

/* _search-input config */

/* _search-input default */
@include layout-default {
  .search-input-wrapper { 
		margin: 20px auto;
		position: relative;
  }

  .search-input-wrapper .ReactTags__suggestions {
		width: 100%;
		ul { 
			margin-bottom: 0; 
			background-color: #fff;
			box-shadow: 0 1px 4px 1px rgba(152, 152, 152, 0.4);
		}
  	mark { 
  		background: 0;
  		padding: 10px 0 10px 10px;
			display: inline-block;
			color: #333;
			font-size: 1.1em;
			transition: all .2s;
  	}
  	li { color: #333; }
  	li.active {
  		background-color: $color-orange;
  		cursor: pointer;
  		color: #fff;
  		mark { 
  			background-color: 0;
  			color: #fff;
  		}
  	}
  }

  .search-input-wrapper input {
		width: 100%;
		background-color: rgba(136, 136, 136, 0.3);
		padding: 10px;
		width: 100%;
		font-size: 1.1em;
		font-weight: 500;
		&:focus { 
			outline: 2px solid $color-orange;
			background: none;
		}
  }

  *::-webkit-input-placeholder {
    color: #5F5F5F;
	}
}

/* _search-input small */
@include layout-small {
}

/* _search-input medium */
@include layout-medium {

}

/* _search-input medium-and-above */
@include layout-medium-and-above {

}

/* _search-input large */
@include layout-large {

}
