/* _search-input.scss */

/* _search-input config */

/* _search-input default */
@include layout-default {
  .search-input-wrapper { 
		margin: 0 auto;
		position: relative;
  }

  .search-input-wrapper .ReactTags__suggestions {
		width: 100%;
		position: absolute;
		top: 0;
		ul { margin-bottom: 0; }
  	mark { 
  		//background-color: rgba(203, 97, 39, 0.58); 
  		background-color: $color-orange;
  		padding: 10px 0 10px 10px;
			display: inline-block;
			color: #fff;
			font-size: 1.1em;
			transition: all .3s;
  	}
  	li { 
  		cursor: pointer;
  	}
  }

  .search-input-wrapper input {
		width: 100%;
		background-color: rgba(136, 136, 136, 0.3);
		padding: 10px;
		width: 100%;
		font-size: 1.1em;
		font-weight: 500;
		&:focus { 
			outline: 2px solid $color-orange;
			background: none;
		}
  }

  *::-webkit-input-placeholder {
    color: #5F5F5F;
	}
}

/* _search-input small */
@include layout-small {
	.search-input-wrapper { 
		margin: 0 auto;
  }
}

/* _search-input medium */
@include layout-medium {

}

/* _search-input medium-and-above */
@include layout-medium-and-above {

}

/* _search-input large */
@include layout-large {

}
